<div>
    <div class="btm">
        <div class="pull-left" *ngIf="(isPanelistAuthenticated || isAdminAuthenticated)">
            <strong class="list-group-item-heading">User: {{ user.email }}.<br /> Session expires in :
                {{ sessionTimerAsString }}</strong>
        </div>
        <span class="pull-right">
            <strong class="list-group-item-heading">Utility be Abhaykumar Lodha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br /> (+91) 8600 25 9997.</strong>
        </span>

    </div>
</div>