<div class="row">
    <div class="col-xs-12 col-md-4">
        <div *ngIf="isLoading" align="center">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <app-alert [message]="error" *ngIf="error"></app-alert>

        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel required email name="nm_email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel required minlength="6"
                    name="nm_password" />
            </div>
            <div class="form-group">
                <label for="status">User Type</label>
                <select id="status" class="form-control" ngModel required name="nm_user_type">
                    <option value="admin">Admin</option>
                    <option value="panelist">Panelist</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="authForm.invalid">Create User</button>
            </div>
        </form>
    </div>