<div class="row">
    <div class="col-xs-10">
        <app-location-edit></app-location-edit>
        <hr>
        <!-- <button class="btn btn-success" type="button" (click)="onLoadLocations()">Load existing locations</button> | -->
        <button class="btn btn-danger" type="button" (click)="onSubmit()">Submit changes</button>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let location of locations; let i = index"
                (click)="onEditItem(i)">
                {{ location.name }}
            </a>
        </ul>
    </div>
</div>
