<div class="row">
    <div class="col-md-3">
        <button class="btn btn-primary" [routerLink]="['/','users','adduser']">Add New User</button>
        <hr>

        <ul class="list-group">
            <a
              class="list-group-item text-break"
              style="cursor: pointer"
              *ngFor="let usrDtl of userDetails; let i = index"
              (click)="onEditUser(i)"
            >
              {{ usrDtl.user_name }} ({{ usrDtl.user_type }})
            </a>
          </ul>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>